<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head.ejs', {title: usersSeleccionado.first_name}) %> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header.ejs') %> 
   
    
    
    <main>
        <h1>¡Bienvenido <%= usersSeleccionado.first_name %> <%= usersSeleccionado.last_name %>!</h1>
        <ul>
            <li>                
                <h2>Número de Cliente:</h2>
                <p id="idUsuarioLogeado"><%= usersSeleccionado.id_usuario %></p>
            </li>
            <li>                
                <h2>Nombre:</h2>
                <p id="nombreUsuarioLogeado"><%= usersSeleccionado.first_name %></p>
            </li>
            <li>
                <h2>Apellido:</h2>
                <p id="apellidoUsuarioLogeado"><%= usersSeleccionado.last_name %></p>
            </li>
            <li>
                <h2>E-mail:</h2>
                <p id="emailUsuarioLogeado"><%= usersSeleccionado.email%></p>
            </li>
            <li>
                <h2>Telefono:</h2>
                <p id="telefonoUsuarioLogeado"><%= usersSeleccionado.telefono%></p>
            </li>
            <li>
                <div class="boton-borrar">               
                    <button id="LogOut" type="button"><a href="/" class="href-boton-editar">Cerrar Sesion</button></a>
                </div>
            </li>
            
        </ul>
        <div class="foto-principal-users"> 
            <img id="imgUsuarioLogeado" src="/img/usersImg/<%=usersSeleccionado.imagenUsers%>" alt="foto_users" class="main-foto-principal">
        </div>
        <section class="contenedor-boton-users">

            <div class="boton-borrar">
               
                <button type="button"><a href="/user/edit/<%=usersSeleccionado.id_usuario%>" class="href-boton-editar">EDITAR USUARIO</button></a>
            </div>

           <form action="/user/detailUsers/<%=usersSeleccionado.id_usuario%>?_method=DELETE" method="POST">
                <div class="boton-borrar">
                    <button type="submit">BORRAR USUARIO</button>
                </div>
            </form>
            
            
            
        </section>

        <%- include('../partials/footer')  %> 
    </main>
</body>
<script src="/js/login.js"></script>
</html>