<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: usersSeleccionado.name}) %> 
<body>
    <%- include('../partials/header.ejs') %> 
    <main>

        <div class="contenedor-main-form">
            <form method="POST" action="/user/edit/<%= usersSeleccionado.id %>?_method=PUT" class="form-register" enctype="multipart/form-data">

                <h1>Editando Usuario: <%=usersSeleccionado.first_name %> </h1>
                <h4>Nombre</h4>
                <div class="contenedor-form-nombre">
                <label for="first_name"></label>
                <input type="text" name="first_name" value="<%=usersSeleccionado.first_name %>">
                </div>

                <h4>Apellido</h4>
                <div class="contenedor-form-nombre">
                <label for="last_name"></label>
                <input type="text" name="last_name" value="<%=usersSeleccionado.last_name %>">
                </div>

                <h4>E-Mail</h4>
                <div class="contenedor-form-nombre">
                <label for="email"></label>
                <input type="text" name="email" value="<%=usersSeleccionado.email %>">
                </div>

                <h4>Telefono</h4>
                <div class="contenedor-form-nombre">
                <label for="telefono"></label>
                <input type="text" name="telefono" value="<%=usersSeleccionado.telefono %>">
                </div>

                <h4>Imagen de Usuario</h4>
                <div> 
                <label for="imagenUsers"></label>
                <input type="file" name="imagenUsers" id="imagenUsers">
                </div>

                                             
                <div class="contenedor-form-botones">
                <button type="submit">Guardar</button>
                <button type="reset">Borrar datos</button>
                </div>
            </form>

        </div>

    </main>
    <%- include('../partials/footer')  %> 
</body>
</html>