<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head', {title: 'Home'}) %> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header') %> 
   

    <main>
    <div class="bannerPrincipal">        
        <a href="/products"><img src="img/BANNERPRINCIPAL.png" alt="bannerPrincipal"></a>
    </div>
       
        <section class="contenedor-section-principal">   
            <h2>ON SALE</h2>
            <div class="contenedor-articulos-principales">
    
            <% for( let i = 0; i < ProductoEJS.length; i++ ) { %> 
                <a class="anchorProducto" href="products/detailProduct/<%=ProductoEJS[i].id_producto%>">
                    <article class="contenedor-producto-imagen-descripcion">     
                        <img src="img/<%=ProductoEJS[i].categoria_producto.titulo_categoria%>/<%=ProductoEJS[i].imagen%>" alt="<%= ProductoEJS[i].nombre %>">                           
                        <div class="contendor-descripcion">
                            <h3 class="description"><%= ProductoEJS[i].nombre%></h3>
                            <p class="price">$<%= ProductoEJS[i].precio %></p>
                            <p class="discount"><%= ProductoEJS[i].descuento%>%</p>
                        </div>                              
                    </article></a>   
            
            <% } %>
             
            </div>
        </section>         

    </main>
       
    <!-- footer  -->
    <%- include('../partials/footer')  %> 
   
    
</body>
</html>