<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head.ejs', {title: 'Todos los productos'}) %> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header.ejs') %> 
        
       <!-- -----------------------LOGIN----------------------------------------- -->

<main class="contenedor-login">

            <form action="login" method="POST">            
            
                <div class="acceso-login">
                    <h2 class="acceso-clientes">ACCESO CLIENTES</h2>     
                </div>
                
                <div class="correo-contra-login">
                    <label for="email">E-Mail</label>
                    <input 
                        type="email" 
                        name="email"
                        value="<%= locals.old ? old.email : null %> "
                    >
                    <% if (locals.errors && errors.email) { %>
                     <div class="danger-text">
                         <%= errors.email.msg %> 
                     </div>
                    <% } %>
                    
                                   
                    <label for="password">Contraseña</label>
                    <input type="password" name="password">
                    <% if (locals.errors && errors.password) { %>
                        <div class="danger-text">
                            <%= errors.password.msg %> 
                        </div>
                       <% } %>
                </div>
               
                <div class="ingreso-login">
                    <input type="submit" value="INGRESAR" class="boton-envio">
                </div>
                
                <div class="nueva-cuenta-login">
                    <a class="Registro" href="/user/register">REGISTRAR NUEVA CUENTA</a>
                </div>
                
            </form>
              
</main>

        <!-- -------------------------------FIN----LOGIN----------------------------------------- -->



        <%- include('../partials/footer')  %> 
    </body>
</html>