<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ingreso de usuario</title>
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     
<!-- HEADER -->
<%- include('../partials/header.ejs') %> 
        

 <main>




    <div>
        <h2 class="text-ingreso">
            REGISTRO DE USUARIOS
        </h2>
    </div>
                     
    <form action="/user/register" method="POST" class="formulario" id="formulario" enctype="multipart/form-data">

        <!-- Grupo: Nombre -->
        <div class="formulario__grupo" id="grupo__first_name">
            <label for="first_name" class="formulario__label">Nombre</label> <!-- for: first_name -->
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="first_name" id="first_name" placeholder="Matias" value="<%=locals.old && old.first_name? old.first_name:''%>"> <!-- name: first_name -->
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
        </div>

        <!-- Grupo: Usuario -->
        <div class="formulario__grupo" id="grupo__last_name">
            <label for="last_name" class="formulario__label">Apellido</label> <!-- for: last_name -->
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="last_name" id="last_name" placeholder="Gomez" value="<%=locals.old && old.last_name? old.last_name:''%>"> <!-- name: last_name -->
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
        </div>

        

        <!-- Grupo: Contraseña -->
        <div class="formulario__grupo" id="grupo__password">
            <label for="password" class="formulario__label">Contraseña</label>
            <div class="formulario__grupo-input">
                <input type="password" class="formulario__input" name="password" id="password" value="<%=locals.old && old.password? old.password:''%>">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
        </div>

        <!-- Grupo: Contraseña 2 -->
        <div class="formulario__grupo" id="grupo__password2">
            <label for="password2" class="formulario__label">Repetir Contraseña</label>
            <div class="formulario__grupo-input">
                <input type="password" class="formulario__input" name="password2" id="password2" value="<%=locals.old && old.password2? old.password2:''%>">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
        </div>

        <!-- Grupo: Correo Electronico -->
        <div class="formulario__grupo" id="grupo__email">
            <label for="email" class="formulario__label">Correo Electrónico</label>  <!-- for: email -->
            <div class="formulario__grupo-input">
                <input type="email" class="formulario__input" name="email" id="email" placeholder="correo@correo.com"  value="<%=locals.old && old.email? old.email:''%>" onmouseout="return validarEMAILDB()"> <!-- name: email -->
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
            <p class="formulario__input-error" id="msgEMAIL">Ya existe un usuario registrado con ese email</p>
        </div>

        <!-- Grupo: Teléfono -->
        <div class="formulario__grupo" id="grupo__telefono">
            <label for="telefono" class="formulario__label">Teléfono</label>
            <div class="formulario__grupo-input">
                <input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="4491234567" value="<%=locals.old && old.telefono? old.telefono:''%>">
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
        </div>
        <!-- Grupo: Imagen -->
        <div>
            <label for="imagenUsers" class="formulario__label">Imagen de Usuario</label>
            <input type="file" accept="image/png,image/jpeg,image/jpg,image/gif" name="imagenUsers" id="imagenUsers" onchange="return validarIMG()">
            <p class="formulario__input-IMG-error" id="msgIMG">El archivo debe tener una de las siguientes extensiones: JPG, JPEG, PNG, GIF</p>
        </div>

        <!-- Grupo: Terminos y Condiciones -->
        

        <div class="formulario__mensaje" id="formulario__mensaje">
            <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
        </div>
    

        <div class="formulario__grupo formulario__grupo-btn-enviar">
            <button type="submit" class="formulario__btn">Enviar</button>
            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
        </div>

    </form>    

    <%- include('../partials/errors')  %> 

    <% if (locals.mensaje) { %>
     <p> <%= mensaje %> </p>
    <% } %>




</main>
<%- include('../partials/footer')  %> 
<script src="/js/formulario_registro.js"></script>
<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
</body>
</html>