<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head', {title: 'Todos los Usuarios'}) %> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header') %> 
   

    <main>        
    <section class="contenedor-section-principal">   
        <h2>Listado de Usuarios</h2>
        <div class="contenedor-users-principales"> <!-- JPP modificar el css -->
            <div>
                <h3>Nombre de los usuarios registrados:</h3> 
            </div>
            <% for( let i = 0; i < users.length; i++ ) { %>
                <lu>
                        <% if (users[i].first_name) { %>
                            <li class="lista-nombres-usuarios">
                                <a href="detailUsers/<%=users[i].id%> "><%= users[i].first_name  %></a>
                            </li>
                            
                        <% } %>
                </lu>
            <% } %>
        </div>
    </section>
    <div class="contenedor-boton-para-ingresar-registro"> <!--JPP  modificar el css -->
        <a href="register"><button>Ingresar al registro de Usuarios</button></a> <!--JPP uso el archivo register no create --> <!--Ale: ahora el boton lleva a la pagina de registro -->
    </div>

    </main>
       
    <!-- footer  -->
    <%- include('../partials/footer')  %> 
   
    
</body>
</html>