<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: 'Creacion de productos'}) %> 
    <script src="/js/formCreaNotebook.js"></script> 
    <body>
    <%- include('../partials/header.ejs') %> 
    <main>
        <div class="contenedor-main-form">
            <form method="POST" action="/products" class="form-register" enctype="multipart/form-data">

                <h1>Formulario de creacion de Notebooks</h1>
                <h4>Nombre del Producto</h4>
                <div class="contenedor-form-nombre">
                <label for="name"></label>
                <input class="input-nombre"type="text" name="name" id="name" placeholder="Nombre del Producto" required="" value="<%=locals.old && old.name? old.name:''%>">
                <p class="errores-name-vacio" id="pErroresVacio" >El campo del nombre debe estar completo</p>
                <p class="errores-name-min" id="pErroresMin" >El campo del nombre debe tener mas de 5 caracteres</p>
                </div>

                <h4>Precio</h4>
                <div class="contenedor-form-precio">
                <label for="precio"></label>
                <input type="number" name="price" id="precio" placeholder="Precio del producto" required="" value="<%=locals.old && old.price? old.price:''%>">
                <p  class="errores-price-vacio" id="pErroresVacioPrecio">El campo del precio debe estar completo</p> 
                </div>

                <h4>Descuento base</h4>
                <div class="contenedor-form-nombre">
                <label for="discount"></label>
                <input type="number" name="discount" id="discount" placeholder="Descuento del producto" required="" value="<%=locals.old && old.discount? old.discount:''%>">
                <p  class="errores-discount-vacio" id="pErroresVacioDescuento">El campo del descuento debe estar completo</p> 
                </div>

                <h4>Microprocesador</h4>
                <div class="contenedor-form-nombre">
                <label for="descripCPU"></label>
                <input type="text" name="descripCPU" id="descripCPU" placeholder="Modelo CPU" value="<%=locals.old && old.cpu_name? old.cpu_name:''%>">
                <p class="errores-cpu-vacio" id="pErroresVacioCPU">El campo del Microprocesador debe estar completo</p>  
                </div>

                <h4>RAM</h4>
                <div class="contenedor-form-nombre">
                <label for="descripRAM"></label>
                <input type="text" name="descripRAM" id="descripRAM" placeholder="Modelo de RAM" value="<%=locals.old && old.descripRAM? old.descripRAM:''%>">
                <p class="errores-ram-vacio" id="pErroresVacioRAM">El campo del RAM debe estar completo</p>  
                </div>

                <h4>SSD</h4>
                <div class="contenedor-form-nombre">
                <label for="descripSSD"></label>
                <input type="text" name="descripSSD" id="descripSSD"  placeholder="Modelo de SSD" value="<%=locals.old && old.descripSSD? old.descripSSD:''%>">
                <p class="errores-ssd-vacio" id="pErroresVacioSSD">El campo del SSD debe estar completo</p>  
                </div>
    
                <h4>GPU</h4>
                <div class="contenedor-form-nombre">
                <label for="descripGPU"></label>
                <input type="text" name="descripGPU" id="descripGPU" placeholder="Modelo de GPU" value="<%=locals.old && old.descripGPU? old.descripGPU:''%>">
                <p class="errores-gpu-vacio" id="pErroresVacioGPU">El campo del GPU debe estar completo</p>  
                </div>
               
                <h4>Fuente de alimentacion</h4>
                <div class="contenedor-form-nombre">
                <label for="descripPWS"></label>
                <input type="text" name="descripPWS" id="descripPWS" placeholder="Modelo de PWS" value="<%=locals.old && old.descripPWS? old.descripPWS:''%>">
                <p class="errores-pws-vacio" id="pErroresVacioPWS">El campo del PWS debe estar completo</p>  
                </div>
                

               

                <h4>Categoria</h4>
                <div class="contenedor-form-category">
                    <label for="category"></label>
                    <select name="category" id="category" class="form-input">
                        <option value="notebooks">NOTEBOOKS</option>
                    </select>
                </div>

                <h4>Tipo</h4>
                <div class="contenedor-form-nombre">
                <label for="discount"></label>
                <input type="text" name="type" id="type" placeholder="New / Sale / Essential" required="" value="<%=locals.old && old.type? old.type:''%>">
                <p class="errores-tipo-vacio" id="pErroresVacioType">El campo del tipo debe estar completo</p>
                </div>       

                <div class="contenedor-form-imagen">
                    <h4>Subir una imagen del producto:</h4>
                    <label for="imagenProducto" class="form-label"></label>
					<input name="imagenProducto" type="file" id="imagen-para-subir" accept="image/png,image/jpeg,image/jpg,image/gif" >
                    <ul  class=erroresUlImagen></ul> 
                </div>
        
                <h4>Descripcion</h4>
                <div class="contenedor-form-descripcion">
                <label for="description"></label>
                <textarea name="description" id="description" class="form-input"> <%=locals.old && old.description? old.description:''%> </textarea>
                <p class="errores-descripcion-vacio" id="pErroresVacioDescripcion">El campo descripcion debe estar completo</p>
                <p class="errores-descripcion-min" id="pErroresMinDescripcion" >El campo de descripcion debe tener mas de 20 caracteres</p>
                </div>      

                

           
                <div class="contenedor-form-botones">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar datos</button>
                </div>
                
            </form>

        </div>

        <%- include('../partials/errors')  %> 


    </main>
    <%- include('../partials/footer')  %> 
</body>
</html>