<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head.ejs', {title: ProductoEJS.nombre}) %> 
<script src="/js/carritoStorage.js"></script> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header.ejs') %> 
   
    
    
    <main>
        
        <h1 id="nombreProducto"><%= ProductoEJS.nombre %> </h1>
        
       
            <% if (ProductoEJS.categoria_producto.titulo_categoria) { %>
                <div class="foto-principal-producto">
                    <img id='imagenInput' src="/img/<%= ProductoEJS.categoria_producto.titulo_categoria %>/<%= ProductoEJS.imagen%>" alt="foto_pc" class="main-foto-principal">
                </div>
            <% } %>            
        <section class="contenedor-precio-boton-comprar">

            <div class="precio-y-descuento">
                <div class="precio-anterior-precio-actual">
                    <h2 id="precio" ><%= ProductoEJS.precio %></h2>
                    <h2 class="descuento"><%= ProductoEJS.descuento %>% OFF</h2>
                </div>
            </div>

            <div class="boton-editar">
                <a href="/products/edit/<%=ProductoEJS.id_producto%> ">
                    <button>EDITAR PRODUCTO</button>
                </a>
                
            </div>

            <form action="/products/detail/<%= ProductoEJS.id_producto %>?_method=DELETE" method="POST">
                <div class="boton-borrar">
                    <button type="submit">BORRAR PRODUCTO</button>
                </div>
            </form>
            
            
            <div class="boton-comprar">
                <button id="btnAgregarCarrito" type="submit">AGREGAR AL CARRITO</button>
            </div>
            
        </section>

        <section class="contenedor-especificaciones-completas">
        <h2>ESPECIFICACIONES TECNICAS</h2>
        <div class="especificaciones">
        
            <% if (ProductoEJS.componentes != null) { %>
                <ul>  
                    <% for( let i = 0; i < ComponentesEJSkeys.length; i++ ) { %>
                        <li><strong><%=ComponentesEJSkeys[i]%> </strong> <%=ComponentesEJSvalues[i]%></li>
                    <% } %>
                </ul>
            <% } %>
        </div>
        <div class="caracteristicas">
            <h2><%= ProductoEJS.descripcion %></h2>

        </div>
        </section>

        <section class="contenedor-productos-relacionados">
        <h2>Productos Relacionados</h2>
        <div class="productos-relacionados">
            <div class="producto-relacionado-1">
                <div class="producto-relacionado-imagen-1">
                    <img alt="imagen-pc" src="/img/desktop/producto-relacionado-1.jpg">
                </div>
                <p>PC GAMER 1</p>
                <p>$100.000</p>
            </div>

            <div class="producto-relacionado-2">
                <div class="producto-relacionado-imagen-2">
                    <img alt="imagen-pc" src="/img/desktop/producto-relacionado-2.jpg">
                </div>
                <p>PC GAMER 2</p>
                <p>$200.000</p> 
            </div>

            <div class="producto-relacionado-3">
                <div class="producto-relacionado-imagen-3">
                    <img alt="imagen-pc" src="/img/desktop/producto-relacionado-3.jpg">
                </div>
                <p>PC GAMER 3</p>
                <p>$300.000</p> 
            </div>
        </div>
        </section>
        <%- include('../partials/footer')  %> 
    </main>
</body>
</html>