<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head.ejs', {title: productoSeleccionado.name}) %> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header.ejs') %> 
   
    
    
    <main>
        
        <h1><%= productoSeleccionado.name %> </h1>
        <div class="foto-principal-producto">
            
            <img src="/img/<%= productoSeleccionado.category %>/<%= productoSeleccionado.image %>" alt="foto_pc" class="main-foto-principal">
        </div>
        <section class="contenedor-precio-boton-comprar">

            <div class="precio-y-descuento">
                <div class="precio-anterior-precio-actual">
                    <h2>$<%= productoSeleccionado.price %></h2>
                    <h2 class="descuento"><%= productoSeleccionado.discount %>% OFF</h2>
                </div>
            </div>

            <div class="boton-editar">
                <a href="/products/edit/<%=productoSeleccionado.id%> ">
                    <button>EDITAR PRODUCTO</button>
                </a>
                
            </div>

            <form action="/products/detail/<%= productoSeleccionado.id %>?_method=DELETE" method="POST">
                <div class="boton-borrar">
                    <button type="submit">BORRAR PRODUCTO</button>
                </div>
            </form>
            
            
            <div class="boton-comprar">
                <button type="submit">AGREGAR AL CARRITO</button>
            </div>
            
        </section>

        <section class="contenedor-especificaciones-completas">
        <h2>ESPECIFICACIONES TECNICAS</h2>
        <div class="especificaciones">
            <ul>
                <% if (productoSeleccionado.descripCPU != null){ %> 
                    <li><strong>Microprocesador:</strong> <%= productoSeleccionado.descripCPU %></li>
                    <% } %> 

                    <% if (productoSeleccionado.descripWC != null){ %> 
                    <li><strong>Cooler:</strong> <%= productoSeleccionado.descripWC %></li>
                    <% } %> 

                    <% if (productoSeleccionado.descripMB != null){ %> 
                    <li><strong>Motherboard:</strong> <%= productoSeleccionado.descripMB %></li>
                    <% } %> 
                    <% if (productoSeleccionado.descripRAM != null){ %> 
                    <li><strong>Memoria:</strong> <%= productoSeleccionado.descripRAM %></li>
                    <% } %> 
                    <% if (productoSeleccionado.descripSSD != null){ %> 
                    <li><strong>Disco:</strong> <%= productoSeleccionado.descripSSD %></li>
                    <% } %> 
                    <% if (productoSeleccionado.descripGPU != null){ %> 
                    <li><strong>Placa de video:</strong> <%= productoSeleccionado.descripGPU %></li>
                    <% } %> 
                    <% if (productoSeleccionado.descripPWS != null){ %>
                    <li><strong>Fuente:</strong> <%= productoSeleccionado.descripPWS %></li>
                    <% } %> 
                    <% if (productoSeleccionado.descripGAB != null){ %>
                    <li><strong>Gabinete:</strong> <%= productoSeleccionado.descripGAB %></li>
                    <% } %> 
                    <% if (productoSeleccionado.OS != null){ %>
                        <li><strong>Sistema operativo:</strong> <%= productoSeleccionado.OS %></li>
                    <% } %> 
            </ul>
        </div>
        <div class="caracteristicas">
            <h2><%= productoSeleccionado.description %></h2>

        </div>
        </section>

        <section class="contenedor-productos-relacionados">
        <h2>Productos Relacionados</h2>
        <div class="productos-relacionados">
            <div class="producto-relacionado-1">
                <div class="producto-relacionado-imagen-1">
                    <img alt="imagen-pc" src="/img/DESKTOP/producto-relacionado-1.jpg">
                </div>
                <p>PC GAMER 1</p>
                <p>$100.000</p>
            </div>

            <div class="producto-relacionado-2">
                <div class="producto-relacionado-imagen-2">
                    <img alt="imagen-pc" src="/img/DESKTOP/producto-relacionado-2.jpg">
                </div>
                <p>PC GAMER 2</p>
                <p>$200.000</p> 
            </div>

            <div class="producto-relacionado-3">
                <div class="producto-relacionado-imagen-3">
                    <img alt="imagen-pc" src="/img/DESKTOP/producto-relacionado-3.jpg">
                </div>
                <p>PC GAMER 3</p>
                <p>$300.000</p> 
            </div>
        </div>
        </section>
        <%- include('../partials/footer')  %> 
    </main>
</body>
</html>