<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {title: productoSeleccionado.name}) %> 
    <script src="/js/formEditProduct.js"></script> 
<body>
    <%- include('../partials/header.ejs') %> 
    <main>

        <div class="contenedor-main-form">
            <form method="POST" action="/products/edit/<%= productoSeleccionado.id_producto %>?_method=PUT" class="form-register" enctype="multipart/form-data">

                <h1>Editando: <%=productoSeleccionado.name %> </h1>
                <h4>Nombre del producto</h4>
                <div class="contenedor-form-nombre">
                <label for="name"></label>
                <input type="text" name="name" id="name"   required value="<%=productoSeleccionado.nombre %>">
                <ul  class=erroresUlName></ul>  
                </div>

                <h4>Precio</h4>
                <div class="contenedor-form-precio">
                <label for="price"></label>
                <input type="number" name="price" id="price" required value="<%=productoSeleccionado.precio %>">
                <ul  class=erroresUlPrice></ul>  
                </div>

                <h4>Descuento</h4>
                <div class="contenedor-form-precio">
                <label for="discount"></label>
                <input type="number" name="discount" id="discount" required="" value="<%=productoSeleccionado.descuento %>">
                <ul  class=erroresUlDiscount></ul>  
                </div>

                <h4>Tipo</h4>
                <div class="contenedor-form-descripcion">
                <label for="type"></label>
                <input type="text" name="type" id="type" required value="<%=productoSeleccionado.tipo %>">
                <ul  class=erroresUlType></ul>  
                </div>

                <h4>Descripcion</h4>
                <div class="contenedor-form-descripcion">
                <label for="description"></label>
                <input type="text" name="description" id="description" required value="<%=productoSeleccionado.descripcion %>">
                <ul  class=erroresUlDescripcion></ul>  
                </div>

                <h4>Categoria</h4>
                <div class="contenedor-form-category">
                    <label for="category"></label>
                    <select name="category" id="category" class="form-input">
                        <option value="pc_gamer">PC Gamer</option>
                        <option value="notebooks">Notebooks</option>
                        <option value="componentes">Componentes</option>
                    </select>
                </div>
                
                <div class="contenedor-form-imagen">
                    <h4>Subir una imagen del producto:</h4>
                    <label for="imagenProducto" class="form-label"></label>
					<input name="imagenProducto" type="file" id="imagen-para-subir" required>
                    <ul  class=erroresUlImagen></ul>  
                </div>                     
                             


                <% for( let i = 0; i < ComponentesEJSkeys.length; i++ ) { %>
                    <h4><%=ComponentesEJSkeys[i]%></h4>
                <div class="contenedor-form-nombre">
                <label for="<%=ComponentesEJSkeys[i]%>"></label>
                <input type="text" name="<%=ComponentesEJSkeys[i]%>" id="<%=ComponentesEJSkeys[i]%>" placeholder="<%=ComponentesEJSkeys[i]%>" value="<%=ComponentesEJSvalues[i]%>">
                </div>                
                <% } %>           
                               

                <div class="contenedor-form-botones">
                <button type="submit">Guardar</button>
                <button type="reset">Borrar datos</button>
                </div>
            </form>

        </div>

    </main>
    <%- include('../partials/footer')  %> 
</body>
</html>