<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head', {title: 'Todos los productos'}) %> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header') %> 
   

    <main>  
        <div class="boton-display-all-products">
            <a href="/products/create"><button>Crear producto</button></a>
        </div>      
    <section class="contenedor-section-principal">   
        <h2>PC GAMERS</h2>
        <div class="contenedor-articulos-principales">
            
            <% for (let i = 0; i<products.length; i++) { %>
                <% if (products[i].category=="PC_GAMER"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=products[i].id%> ">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/PC_GAMER/<%=products[i].image%>" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= products[i].name %></h3>
                        <p class="price">$<%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>NOTEBOOKS</h2>
        <div class="contenedor-articulos-principales">

                <% for (let i = 0; i<products.length; i++) { %>
                <% if (products[i].category=="notebooks"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=products[i].id%>">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="/img/notebooks/<%=products[i].image%>" alt="NOTEBOOK">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= products[i].name %></h3>
                        <p class="price">$<%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>MICROPROCESADORES</h2>
        <div class="contenedor-articulos-principales">

                <% for (let i = 0; i<products.length; i++) { %>
                <% if (products[i].subCategory=="CPU"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=products[i].id%>">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/componentes/ryzen9.jpeg" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= products[i].name %></h3>
                        <p class="price">$<%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>MOTHERBOARDS</h2>
        <div class="contenedor-articulos-principales">

                <% for (let i = 0; i<products.length; i++) { %>
                <% if (products[i].subCategory=="MB"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=products[i].id%>">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/componentes/mb_x570_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= products[i].name %></h3>
                        <p class="price">$<%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>MEMORIAS RAM</h2>
        <div class="contenedor-articulos-principales">

                <% for (let i = 0; i<products.length; i++) { %>
                <% if (products[i].subCategory=="RAM"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=products[i].id%>">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/componentes/RAM_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= products[i].name %></h3>
                        <p class="price">$<%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>DISCOS SSD</h2>
        <div class="contenedor-articulos-principales">

                <% for (let i = 0; i<products.length; i++) { %>
                <% if (products[i].subCategory=="SSD"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=products[i].id%>">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/componentes/SSD_KINGSTON_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= products[i].name %></h3>
                        <p class="price">$<%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>PLACAS DE VIDEO</h2>
        <div class="contenedor-articulos-principales">

                <% for (let i = 0; i<products.length; i++) { %>
                <% if (products[i].subCategory=="GPU"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=products[i].id%>">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/componentes/GPU_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= products[i].name %></h3>
                        <p class="price">$<%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>FUENTE DE ALIMENTACION</h2>
        <div class="contenedor-articulos-principales">

                <% for (let i = 0; i<products.length; i++) { %>
                <% if (products[i].subCategory=="PWS"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=products[i].id%>">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/componentes/PWS.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= products[i].name %></h3>
                        <p class="price">$<%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>GABINETES</h2>
        <div class="contenedor-articulos-principales">

                <% for (let i = 0; i<products.length; i++) { %>
                <% if (products[i].subCategory=="GABINETES"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=products[i].id%>">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/componentes/GABINETE_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= products[i].name %></h3>
                        <p class="price">$<%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <h2>WATER COOLERS</h2>
        <div class="contenedor-articulos-principales">

                <% for (let i = 0; i<products.length; i++) { %>
                <% if (products[i].subCategory=="WATER-COOLER"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=products[i].id%>">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/componentes/wc_1.png" alt="PC ESCRITORIO">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= products[i].name %></h3>
                        <p class="price">$<%= products[i].price %></p>
                        <p class="discount"><%= products[i].discount %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    </main>
       
    <!-- footer  -->
    <%- include('../partials/footer')  %> 
   
    
</body>
</html>