<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('../partials/head', {title: 'Todos los productos'}) %> 
<body>
     
<!-- HEADER -->
<%- include('../partials/header') %> 
   

    <main>      
    <section class="contenedor-section-principal">   
        <div class="bannerProducts">        
            <a href="products/searchProducts?q=pc+gamer"><img src="img/PCGAMERBANNER.png" alt="bannerPrincipal"></a>
        </div>
        <div class="contenedor-articulos-principales">
            
            <% for (let i = 0; i<ProductoEJS.length; i++) { %>
                <% if (ProductoEJS[i].categoria_producto.titulo_categoria=="pc_gamer"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=ProductoEJS[i].id_producto%> ">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/<%=ProductoEJS[i].categoria_producto.titulo_categoria%>/<%=ProductoEJS[i].imagen%>" alt="<%=ProductoEJS[i].nombre %> ">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= ProductoEJS[i].nombre %></h3>
                        <p class="price">$<%= ProductoEJS[i].precio %></p>
                        <p class="discount"><%= ProductoEJS[i].descuento%>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <div class="bannerProducts">        
            <img src="img/notebooksbanner.png" alt="bannerNtbk">
        </div>
        <div class="contenedor-articulos-principales">

                <% for (let i = 0; i<ProductoEJS.length; i++) { %>
                <% if (ProductoEJS[i].categoria_producto.titulo_categoria=="notebooks"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=ProductoEJS[i].id_producto%>">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/<%=ProductoEJS[i].categoria_producto.titulo_categoria%>/<%=ProductoEJS[i].imagen%>" alt="<%=ProductoEJS[i].nombre %>">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%=ProductoEJS[i].nombre %></h3>
                        <p class="price">$<%= ProductoEJS[i].precio %></p>
                        <p class="discount"><%= ProductoEJS[i].descuento %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    <section class="contenedor-section-principal">   
        <div class="bannerProducts">        
            <img src="img/COMPONENTESBANNER.png" alt="bannerNtbk">
        </div>
        <div class="contenedor-articulos-principales">

                <% for (let i = 0; i<ProductoEJS.length; i++) { %>
                    <% if (ProductoEJS[i].categoria_producto.titulo_categoria=="componentes"){%>
            <a class="anchorProducto" href="products/detailProduct/<%=ProductoEJS[i].id_producto%>">
                <article class="contenedor-producto-imagen-descripcion">            
                    <img src="img/<%=ProductoEJS[i].categoria_producto.titulo_categoria%>/<%=ProductoEJS[i].imagen%>" alt="<%=ProductoEJS[i].nombre %> ">
                    <div class="contendor-descripcion">
                        <h3 class="description"><%= ProductoEJS[i].nombre %></h3>
                        <p class="price">$<%= ProductoEJS[i].precio %></p>
                        <p class="discount"><%= ProductoEJS[i].descuento %>%</p>
                    </div>                              
                </article></a>
                <% } %>
                <% } %>
        </div>
    </section>

    

    </main>
       
    <!-- footer  -->
    <%- include('../partials/footer')  %> 
   
    
</body>
</html>